@page "/admin"
@model WaterProject.Pages.Admin.IndexModel
@{
}

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<!DOCTYPE html>

<html>
<head>
    <title> Water Project Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />

</head>

<body>

<component type="typeof(WaterProject.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>