@page "/admin"
@model WaterProject.Pages.Admin.IndexModel
@{
}
<!DOCTYPE html>

<html>
<head>
    <title> Water Project Admin</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />

</head>

<body>


    <p>WE are tetsing out here!</p>
</body>
</html>